<a href="https://colab.research.google.com/github/pedro8742/Cinq/blob/master/fistCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print ("Óla mundo!!")

Óla mundo!!

In [5]:
x=3
y=4+x
print(y)

7

In [ ]:
idade1 = 13
idade2 = 16
idade3 = 15

print(f"")

In [7]:
name = input("digite seu nome: ")
age = int(input("digite sua idade: "))
height = float(input("digite sua altura: "))

print(f"{name} tem {age} anos e {height}m de altura")

digite seu nome: pedro
digite sua idade: 31
digite sua altura: 170
pedro tem 31 anos e 170.0m de altura

In [11]:
age = int(input("digite uma idade: "))
if age >= 18:
    print("Maior de idade")
else:
    print("Não é maior de idade")

digite uma idade: 31
Maior de idade

In [26]:
for i in range(2,21,2):
  print(i,end = ", ")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20,

In [ ]:
print("Olá Mundo!!")

In [33]:
dobro = int(input("Digite um número: "))
print(f"O dobro do número é {dobro * 2}")

Digite um número: 2
O dobro do número é 4

In [35]:
num1 = int(input("digite o primeiro número: "))
num2 = int(input("digite o segundo número: "))
print(f"a soma é {num1 + num2}")

digite o primeiro número: 2
digite o segundo número: 2
a soma é 4

In [36]:
name = input("digite seu nome:")
age = int(input("digite sua idade: "))
print(f"Seu nome é {name} e sua idade é {age}")

digite seu nome:pedro
digite sua idade: 31
Seu nome é pedro e sua idade é 31

In [39]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [40]:
num1 = float(input("digite um valor: "))
num2 = float(input("digite um valor: "))
num3 = float(input("digite um valor: "))
media = (num1 + num2 + num3)/3

print(f"a média dos 3 npumeros é {media}")

digite um valor: 3
digite um valor: 3
digite um valor: 3
a média dos 3 npumeros é 3.0

In [41]:
num = int(input("digite o numero que vc qr a tabuada"))

for i in range(1,11):
  print(num*i)

digite o numero que vc qr a tabuada3
3
6
9
12
15
18
21
24
27
30

In [43]:
num = float(input("digite um número"))
divisivel = num%3
if divisivel==0:
  print("O número é divisivel por 3")
else:
  print("O número NÃO é divisivel por 3")

digite um número5
O número não é divisivel por 3

In [44]:
temp = float(input("igite uma temperatura em graus celsios: "))
converter = temp * 1.8 + 32
print(f"A temperatura em Fahrenheit é: {converter}")

igite uma temperatura em graus celsios32
A temperatura em Fahrenheit é: 89.6

In [45]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10